<header class="text-center">
	<h1><%= user.username%>'s Wish List</h1>
</header>
<section class="container">
	<% for(let i = 0; i < wishlist.length; i++) { %>
		<div class = "card block">
			<div class="contents">
				<a href="/movies/<%= wishlist[i].id%>"><img class="card-img-left" src="<%= wishlist[i].media.posterStandard %>"></a>
				<div class="card-body">
					<p class="card-text"><span class="title"><%= wishlist[i].name %></span> <span class="rating"><%= wishlist[i].mpaaRating %></span></p>
					<p class="card-text"><%= wishlist[i].runTime %> min</p>
					<p class="card-text synopsis"><%= wishlist[i].synopsis %></p>
					<% if( wishlist[i].hasScheduledShowtimes ) { %>
						<p>This movie has scheduled showtimes<p>
					<% } else { %>
						<p>This movie has no scheduled showtimes</p>
					<% } %>
					<form action="/wish/<%=wishlist[i].id%>" method="POST">
						<button>Watched</button>
					</form><br>
					<form action="/wish/<%= wishlist[i].id%>?_method=DELETE" method="POST">
						<button>Delete</button>
					</form>
				</div>

			</div>
			<form class="movie-showtime" id="<%= i %>" action="/search/movie/<%= wishlist[i].id %>" method="GET">
				<% if (currLoc) { -%>
					<p class="currLoc link">Search for showtimes using current location</p>
					<input type="text" class="hidden" name="lat" value="<%=currLoc.lat%>">
					<input type="text" class="hidden" name="long" value="<%=currLoc.long%>">
				<% } else { -%>
					<p class="hidden currLoc link">Search for showtimes using current location</p>
					<input type="text" class="hidden" name="lat">
					<input type="text" class="hidden" name="long">
				<% } -%>
				<p class="other-zip link">Search for showtimes using a zipcode</p>
				<div class="hidden zip">
					<input type="text" name="zipcode" placeholder="zipcode">
					<input type="submit" value="Search">
				</div>
				<input type="text" class="hidden" name="useCurrForShow" value="false">
			</form>
		</div>
	<% } %>
</section>