<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body>

	<header class="text-center">
		<h1>AMC Theatres</h1>
	</header>
	<main class="search container">
		<% let theatre;
		for (let i = 0; i < response.locations.length; i++) {
			theatre = response.locations[i]._embedded.theatre -%>
			<div class = "card block">
				<h3>Theatre: <%= theatre.name %></h3>
				<div>
					<p> <%= theatre.location.addressLine1 %></p>
					<p> <%= theatre.location.addressLine2 %></p>
					<p> <%= theatre.location.city + ", " + theatre.location.state + ", " + theatre.location.postalCode.slice(0,4) %></p>
					<p> <!--distance from you--></p>
					<p class="showtime-controls" id="<%= i %>">Showtimes for this theatre &#9660;</p>
					<div id="showtimes<%= i %>" class="hidden showtimes">
						<% for (let showtime of theatre.showtimes) {%>
							<div class = "card showtime">
								<h5 class = "card-title"><%= showtime.showFormattedDate %></h5>
								<div class="contents">
									<img class="card-img-left" src="<%= showtime.media.posterDynamic %>">
									<div class="card-body">
										<p class="card-text"><%= showtime.movieName %> <span class="rating"><%= showtime.mpaaRating %></span></p>
										<p class="card-text"><%= "$"+showtime.ticketPrices[0].price %>
										<p class="card-text"><%= showtime.runTime %> min</p>	
									</div>
								</div>
							</div>
						<%}%>
					</div>
				</div>
			</div>
		<% } -%>
	</main>
</body>
</html>

