<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body class="container">
	<header class="container block">
		<div class="container text-center">
			<h1>AMC Movies</h1>
		</div>
		<div class="container movie-header">
			<div class="search">
				<form action="/search" method="GET">
					<input type="text" name="name" placeholder="name" />
					<input type="text" name="zipcode" placeholder="zipcode">
					<button type="submit">Search</button>
				</form>
				
			</div>
			<div class="links row">
				<a href="/movie">Home</a>
				<a href="">Contacts</a>
				<a href="/movies/wish">Wish List</a>
				<a href="/login">Login</a>
			</div>
		</div>
	</header>
	<main class="search">
		<% for (let movie of response.movies) { -%>
			<div class = "card block">
				<div class="contents">
					<img class="card-img-left" src="<%= movie.media.posterStandard %>">
					<div class="card-body">
						<p class="card-text"><span class="title"><%= movie.name %></span> <span class="rating"><%= movie.mpaaRating %></span></p>
						<p class="card-text"><%= movie.runTime %> min</p>
						<p class="card-text synopsis"><%= movie.synopsis %></p>	
					</div>
				</div>
			</div>
		<% } -%>
	</main>
</body>
</html>