<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body class="container">
	<main class="search">
		<% for (let movie of response.movies) { -%>
			<div class = "card block">
				<div class="contents">
					<img class="card-img-left" src="<%= movie.media.posterStandard %>">
					<div class="card-body">
						<p class="card-text"><span class="title"><%= movie.name %></span> <span class="rating"><%= movie.mpaaRating %></span></p>
						<p class="card-text"><%= movie.runTime %> min</p>
						<p class="card-text synopsis"><%= movie.synopsis %></p>	
					</div>
				</div>
			</div>
		<% } -%>
	</main>
</body>
</html>