<header class="text-center">
	<h1>AMC Movies</h1>
</header>
<main class="container search">
	<% for (let movie of response.movies) { -%>
		<% if (movie.genre && movie.mpaaRating) { -%>
			<div class = "card block">
				<div class="contents">
					<a href="/movies/<%= movie.id %>"><img class="card-img-left" src="<%= movie.media.posterDynamic %>"></a>
					<div class="card-body">
						<p class="card-text"><span class="title"><%= movie.name %></span> <span class="rating"><%= movie.mpaaRating %></span></p>
						<p class="card-text"><%= movie.runTime %> min</p>
						<p class="card-text synopsis"><%= movie.synopsis %></p>	
					</div>
				</div>
			</div>
		<% } -%>
	<% } -%>
</main>