<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body class="container">
	<main class="search">
		<div class="container block text-white">
			<% if (prevDate) { %>
				<a class="btn" href="/search?name=<%= name %>&zipcode=<%= zipcode %>&date=<%= prevDate %>">Previous date</a>
			<%}%>
			<p><%= date %></p>
			<a class="btn" href="/search?name=<%= name %>&zipcode=<%= zipcode %>&date=<%= nextDate %>">Next date</a>
		</div>
		<% for (let showtime of response.showtimes) { -%>
			<div class = "card block">
				<h2 class = "card-title"><%= showtime.showFormattedTime %> at <%= showtime.theatre.name %></h2>
				<div class="contents">
					<img class="card-img-left" src="<%= showtime.media.posterDynamic %>">
					<div class="card-body">
						<p class="card-text"><%= showtime.movieName %> <span class="rating"><%= showtime.mpaaRating %></span></p>
						<p class="card-text"><%= "$"+showtime.ticketPrices[0].price %>
						<p class="card-text"><%= showtime.runTime %> min</p>	
					</div>
				</div>
			</div>
		<% } -%>
	</main>
</body>
</html>