<header class="text-center">
  <h1>AMC Movies</h1>
</header>
<main class="container">
  <section class="container col block">
    <!-- list of top movies with images -->
    <h1 class="text-center">Top 10</h1>
    <div class="index-list">
      <% for(let i = 0; i < topMovies.length; i++) { %>
        <a href="/movies/<%= topMovies[i].id%>">
          <img src="<%= topMovies[i].media.posterDynamic %>">
        </a>
      <% } %>
    </div>
    <!-- list of now playing movies with images -->
    <h1 class="text-center">Now Playing</h1>
    <div class="index-list">
      <% for(let i = 0; i < nowMovies.length; i++) { %>
        <a href="/movies/<%= nowMovies[i].id%>">
          <img src="<%= nowMovies[i].media.posterDynamic %>">
        </a>
      <% } %>
    </div>
    <!-- list of coming soon movies with images -->
    <h1 class="text-center">Coming Soon</h1>
    <div class="index-list">
      <% for(let i = 0; i < coming.length; i++) { %>
        <a href="/movies/<%= coming[i].id%>">
          <img src="<%= coming[i].media.posterDynamic %>">
        </a>
      <% } %>
    </div>
  </section>
</main>
