<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
		</script>

</head>
<body>
	<header class="movie-header container">
		<div class="search">
			<form action="/api/search" method="GET">
				<input type="text" name="name" placeholder="name" />
				<input type="text" name="title" placeholder="zipcode">
				<button type="submit">Search</button>
			</form>
			
		</div>
		<div class="links row">
			<a href="/movies">Home</a>
			<a href="">Contacts</a>
			<a href="">Wish List</a>
			<a href="">Login</a>
		</div>
	</header>
	<section class="container">
		<h3><%= movie.sortableName %></h3>
		<div class="d-flex film-container">
			<div>
				<img src="<%= movie.media.posterStandard %>">
			</div>
			<div>
				<h6>Starring Actors: <%= movie.starringActors %></h6><br>
				<h6>Directors: <%= movie.directors %></h6><br>
				<h6>Genre: <%= movie.genre %></h6><br>
				<h6>Run time: <%= movie.runTime %></h6><br>
				<h6>Release Date: <%= movie.releaseDateUtc %></h6>
			</div>
			
		</div>
		<div>
			<h6><%= movie.synopsis %></h6>
		</div>
		<div>
			<video width="100%" height="" controls>
  				<source src="<%= movie.media.trailerMp4 %>" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<script type="text/javascript" src="/js/movieApp.js"></script>
		</div>

	</section>
	
</body>
</html>