<header class="text-center">
	<h1><%= movie.sortableName %></h1>
</header>
<section class="container block">
	<div class="d-flex film-container">
		<div class="col-3">
			<img class="img-fluid" src="<%= movie.media.posterStandard %>">
		</div>
		<div class="col-6">
			<h6>Starring Actors: <%= movie.starringActors %></h6><br>
			<h6>Directors: <%= movie.directors %></h6><br>
			<h6>Genre: <%= movie.genre %></h6><br>
			<h6>Run time: <%= movie.runTime %></h6><br>
			<h6>Release Date: <%= movie.releaseDate %></h6><br>
			<% if(hasScheduledShowtimes) { %>
				<h6>This movie has scheduled showtimes</h6>
			<% } else { %>
				<h6>This movie has no scheduled showtimes</h6>
			<% } %>
		</div>
		<div class="col-3 d-flex justify-content-end">
			<% if(button) { %>
				<form action="/movies?movieId=<%= movie.id%>&name=<%=movie.name%>&poster=<%= movie.media.posterStandard%>&link=<%= movie.links.self.href%>&mpaaRating=<%= movie.mpaaRating %>&runTime=<%= movie.runTime %>&synopsis=<%= movie.synopsis %>&hasScheduledShowtimes=<%= movie.hasScheduledShowtimes%>" method="POST">
					<button>ADD</button>
				</form>
			<% } else { %>
				<p class="no-add">This movie is on your list.</p>
			<% } %>
		</div>
	</div>
	<div>
		<h6><%= movie.synopsis %></h6>
	</div>
	<div>
		<video width="100%" src="<%= movie.media.trailerHd %>" controls>
		</video>
	</div>

</section>